html {
  font-size: 62.5%;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.header {
  position: relative;
  background-image: url("../images/banner-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100vw;
  min-width: 30rem;
  padding: 3rem 1.5rem 21rem 1.5rem;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.menu {
  text-align: right;
}

.menu-burger {
  width: 2.3rem;
  padding-top: 2rem;
  border: none;

  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  background-color: transparent;
}

.menu-burger::before,
.menu-burger-label,
.menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  width: 100%;
  height: 15%;
  background-color: #ffffff;
}

.menu-burger::before {
  top: 0;
}

.menu-burger-label {
  top: 40%;
}

.menu-burger::after {
  top: 80%;
}

.logo-img {
  margin-top: 18rem;
  width: 27rem;
}

.intro {
  margin-top: 4rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.intro-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.trendy-now {
  width: 100vw;
  min-width: 30rem;
}

.trendy-now-title {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.trendy-now-title::after {
  content: "";
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
}

.trendy-now-title-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.trends {
  display: flex;
  flex-wrap: wrap;
}

.trend {
  position: relative;
  width: 100%;
  margin-top: 0.2rem;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
  flex-grow: 1;
}

.trend2 {
  background-image: url("../images/trend2.jpg");
  flex-grow: 1;
}

.trend3 {
  background-image: url("../images/trend3.jpg");
  flex-grow: 1;
}

.trend4 {
  background-image: url("../images/trend4.jpg");
  flex-grow: 1;
}

.trend-box {
  position: relative;
  z-index: 1;
  margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 3rem 2rem 2.5rem 2rem;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.category-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.category-list-item:not(:last-child) {
  margin-right: 2rem;
}

.trend-title {
  margin-top: 1rem;
}

.trend-title-text a {
  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;  
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.content {
  padding: 4.5rem 1.5rem;
}

.post:not(:first-child) {
  margin-top: 3.5rem;
}

.post-img {
  width: 100%;
}

.category {
  margin-top: 1.3rem;
  margin-bottom: 1rem;
}

.post-title a {
  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: #0f0d0e;
}

.date-author {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.date {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: #888888;
  margin-right: 1.2rem;
}

.author {
  font-family: OpenSans, Arial, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  color: #000000;
}

.post-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #0f0d0e;
}

.post-text p {
  margin-top: 1rem;
}

@media (max-width: 640px)
   and (orientation: landscape) {
  .trend {
    width: calc(50% - 0.1rem);
  }

  .trend:nth-child(odd) {
    margin-right: 0.1rem;
  }

  .trend:nth-child(even) {
    margin-left: 0.1rem;
  }
}

@media (min-width: 641px) {
  .top-panel {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }

  .menu {
    order: 999;
  }

  .logo {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .logo-img {
    margin-top: 0;
    width: 100%;
  }
}

@media (min-width: 641px)
   and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    padding: 6.5rem 3.5rem 12rem 3.5rem;
  }

  .logo {
    width: 16rem;
  }

  .menu-burger {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .intro {
    margin-top: 8rem;
  }

  .intro-text {
    font-size: 4rem;
    line-height: 5.5rem;
  }

  .trendy-now-title {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
  }

  .trendy-now-title-text {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .trend {
    width: calc(50% - 0.1rem);
  }

  .trend:nth-child(odd) {
    margin-right: 0.1rem;
  }

  .trend:nth-child(even) {
    margin-left: 0.1rem;
  }

  .trend-box {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3rem;
  }

  .trend-title-text a {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .content {
    padding: 5rem 3.5rem;
  }

  .posts {
    width: 55.5%;
  }

  .post:not(:first-child) {
    margin-top: 4rem;
  }

  .post-title a {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .post-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

@media (min-width: 641px)
   and (max-width: 1199px)
   and (orientation: landscape) {
  .trend {
    width: calc(25% - 0.3rem);
  }

  .trend:not(:nth-child(4n+1)) {
    margin-left: 0.2rem;
  }

  .trend:not(:nth-child(4n)) {
    margin-right: 0.2rem;
  }
}

@media (max-width: 1199px) {
  .menu-list {
    display: none;
  }

  .post::after {
    content: "";
    margin-top: 2.2rem;
    display: block;
    height: 0.3rem;
    background-color: #eeeeee;
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg.jpg");
    padding: 5rem 1.5rem 14rem 1.5rem;
  }

  .container {
    max-width: 117rem;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-burger {
    display: none;
  }

  .menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .menu-list-item:not(:first-child) {
    margin-left: 3.5rem;
  }

  .menu-link {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }

  .logo {
    width: 18rem;
  }

  .menu-list {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .intro {
    margin-top: 11rem;
  }

  .intro-text {
    font-size: 4.5rem;
    line-height: 7.5rem;
  }

  .trendy-now-title {
    margin-top: 5.5rem;
    margin-bottom: 2.5rem;
  }

  .trendy-now-title-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .trend {
    width: calc(25% - 0.3rem);
  }

  .trend:not(:nth-child(4n+1)) {
    margin-left: 0.2rem;
  }

  .trend:not(:nth-child(4n)) {
    margin-right: 0.2rem;
  }

  .trend-box {
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 3.5rem 3rem;
  }

  .trend-title-text a {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  /* 15 + (380 + 30 + 380) + 110 + (270) + 15 = 1170 */
  .content {
    box-sizing: border-box;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 6.5rem 1.5rem;
  }

  .posts {
    width: 67.5%;
  }

  .post:not(:first-child) {
    margin-top: 6rem;
  }

  .post {
    display: flex;
  }

  .post-preview,
  .post-info {
    width: calc(50% - 1.5rem);
  }

  .post-info {
    margin-left: 3rem;
  }

  .post-title a {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .post-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}