html {
  font-size: 62.5%;
}

body,
button,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul {
  margin: 0;
  padding: 0;
}

/* iOS style OFF */
input[type=search],
input[type=email],
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.header {
  position: relative;
  background-image: url("../images/banner-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100vw;
  min-width: 30rem;
  padding: 3rem 1.5rem 21rem 1.5rem;
  margin-bottom: 4rem;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.menu {
  text-align: right;
}

.menu-burger {
  width: 2.3rem;
  padding-top: 2rem;
  border: none;

  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  background-color: transparent;
}

.menu-burger::before,
.menu-burger-label,
.menu-burger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;

  width: 100%;
  height: 15%;
  background-color: #ffffff;
}

.menu-burger::before {
  top: 0;
}

.menu-burger-label {
  top: 40%;
}

.menu-burger::after {
  top: 80%;
}

.logo-img {
  margin-top: 18rem;
  width: 27rem;
}

.intro {
  margin-top: 4rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.intro-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 2.6rem;
  line-height: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.trendy-now {
  width: 100vw;
  min-width: 30rem;
}

.section-title {
  margin-bottom: 2rem;
}

.section-title::after {
  content: "";
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 6.6rem;
  height: 0.3rem;
  background-color: #b59f5b;
  opacity: 0.4;
}

.section-title-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.trends {
  display: flex;
  flex-wrap: wrap;
}

.trend {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.2rem;
  padding: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}

.trend-box {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 3rem 2rem 2.5rem 2rem;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.category-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
}

.category-list-item-not-last {
  margin-right: 2rem;
}

.trend-title {
  margin-top: 1rem;
}

.trend-title-text a {
  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;  
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.content {
  padding: 4.5rem 1.5rem;
}

.posts {
  margin-bottom: 4rem;
}

.post-not-first {
  margin-top: 3.5rem;
}

.post-preview {
  margin-bottom: 1.3rem;
}

.post-img {
  width: 100%;
}

.category {
  margin-bottom: 1rem;
}

.post-title a {
  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  color: #0f0d0e;
}

.date-author {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.date {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: #888888;
  margin-right: 1.2rem;
}

.author {
  font-family: OpenSans, Arial, sans-serif;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  color: #000000;
}

.post-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 400;
  color: #0f0d0e;
}

.post-text p {
  margin-top: 1rem;
}

.sidebar {
  margin-bottom: 4rem;
}

/* 70 + 20 + 240 = 330 */
.latest-post {
  display: flex;
}

.latest-post-not-first {
  margin-top: 2.2rem;
}

.latest-post-preview {
  width: 21%;
  margin-right: 6%;
}

.latest-post-img {
  width: 100%;
}

.latest-post-info {
  width: 73%;
}

.latest-post-date {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 400;
  color: #000000;

  display: block;
  margin-bottom: 0.5rem;
}

.latest-post-title a {
  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #000000;
}

.search {
  display: flex;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}

.search-field {
  box-sizing: border-box;
  width: 85%;
  border: none;
  background-color: #f3f7f5;
  padding: 1.5rem 2rem;
  margin: 0;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #000000;
}

.search-button {
  border: none;
  width: 15%;
  padding: 1.5rem 5%;
  background-color: #b59f5b;
  cursor: pointer;
}

.subscribe-field {
  box-sizing: border-box;
  width: 100%;
  border: none;
  background-color: #f3f7f5;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: #000000;
}

.subscribe-button {
  border: none;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 4rem;
  background-color: #b59f5b;
  cursor: pointer;
  
  font-family: OpenSans, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #ffffff;
}

.sidebar-category-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 3rem;
  margin-bottom: 2.5rem; /* 50 - 25 = 25 */
}

.sidebar-category-link {
  border: 3px solid #f3f3f1;
  padding: 0.5rem 1.3rem;

  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
}

.sidebar-category-list-item-not-last {
  margin-right: 0.5rem;
}

.sidebar-category-list-item {
  margin-bottom: 2.5rem;
}

.sidebar-theme-list-item {
  list-style: none;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ededed;
}

.sidebar-theme-list-item-first {
  padding-top: 0;
}

.sidebar-theme-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  margin-right: 0.1rem;
}

.sidebar-theme-amount {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  color: #b59f5b;
  vertical-align: 0.4rem;
}

.product {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2rem 3rem 2rem;
}

.product::after {
  content: "";
  position: absolute;
  /* .product-preview = 360 - 30 - 40 */
  top: 70vw;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.product-first {
  margin-top: 1rem;
}

.product-not-last {
  margin-bottom: 3rem;
}

.product-preview {
  margin-bottom: 2rem;
}

.product-img img {
  width: 100%;
}

.product-title a {
  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;  
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #0f0d0e;
}

.product-text {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #000000;

  margin-bottom: 2rem;
}

.product-footer {
  display: flex;
}

.product-price {
  width: 50%;

  font-family: OpenSans, Arial, sans-serif;
  text-decoration: none;  
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #0f0d0e;
}

.product-price-old {
  text-decoration: line-through;  
  font-size: 1.4rem;
}

.product-button {
  border: none;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #b59f5b;
  cursor: pointer;
  
  font-family: OpenSans, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #ffffff;
}

.footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 4.5rem;
}

.social {
  display: flex;
  justify-content: center;
  background-color: #f3f7f5;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
  list-style: none;
}

.social-item-not-last {
  margin-right: 3rem;
}

.social-link {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  background-size: 2.4rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.social-link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.social-link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.social-link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.social-link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  text-align: center;
}

.copyright-link {
  font-family: OpenSans, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: #999999;
}

._hidden {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow: auto;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 5.5rem;

  background-color: rgba(0,0,0,0.6);
}

.popup {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  padding: 2.5rem 2.5rem 3rem 2.5rem;

  background-color: #ffffff;
}

.feedback-form-row-not-first {
  margin-top: 3rem;
}

.feedback-form-hint {
  display: block;
  margin-bottom: 0.7rem;
}

.feedback-form-select {
  -webkit-appearance:none;
  -moz-appearance:none;

  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 1.5rem 2rem;

  background-color: #f3f7f5;
  background-image: url("../svg/form-arrows.svg");
  background-size: 0.8rem;
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
}

.feedback-form-radio-group:nth-of-type(n+2) {
  margin-left: 3.5rem;
}

.feedback-form-radio-text::before {
  content: "";
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  margin-right: 0.5rem;

  background-image: url("../svg/form-empty-circle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.feedback-form-radio:checked ~ .feedback-form-radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.feedback-form-radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}

.feedback-form-textarea-field {
  box-sizing: border-box;
  min-width: 100%;
  max-width: 100%;
  min-height: 13rem;
  max-height: 13rem;
  border: none;
  padding: 1.5rem 2rem;

  background-color: #f3f7f5;
}

.feedback-form-button {
  border: none;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #b59f5b;
  cursor: pointer;
  
  font-family: OpenSans, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 640px) {
  .menu-list {
    display: none;
  }

  .post::after {
    content: "";
    margin-top: 2.2rem;
    display: block;
    height: 0.3rem;
    background-color: #eeeeee;
  }
}

@media (max-width: 640px)
   and (orientation: landscape) {
  .trend {
    width: 49.8%;
  }

  .trend-1of2 {
    margin-right: 0.2%;
  }

  .trend-2of2 {
    margin-left: 0.2%;
  }
}

@media (min-width: 641px) {
  .top-panel {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }

  .menu {
    order: 999;
  }

  .logo {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .logo-img {
    margin-top: 0;
    width: 100%;
  }

  .trend {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  /* .sidebar = 70 + 20 + 181 = 271 */
  .latest-post-preview {
    width: 26%;
    margin-right: 7%;
  }

  .latest-post-info {
    width: 67%;
  }

  .search {
    margin-bottom: 6rem;
  }

  .subscribe-button {
    margin-bottom: 6rem;
  }

  .sidebar-category-list {
    margin-bottom: 4.5rem; /* 70 - 25 = 45 */
  }

  .shop {
    width: 100%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product-first {
    margin-top: 0;
  }

  .product-not-last {
    margin-bottom: 0;
  }

  ._hidden {
    padding-top: 24rem;
  }

  .popup {
    width: 39rem;
    padding: 5rem 3rem 5.5rem 3rem;
}

@media (min-width: 641px)
   and (max-width: 1199px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    padding: 6.5rem 3.5rem 12rem 3.5rem;
    margin-bottom: 4.5rem;
  }

  .logo {
    width: 16rem;
  }

  .menu-burger {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .menu-list {
    display: none;
  }

  .intro {
    margin-top: 8rem;
  }

  .intro-text {
    font-size: 4rem;
    line-height: 5.5rem;
  }

  .section-title-text {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .sidebar-section-title-text {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .trend {
    width: 49.8%;
  }

  .trend-1of2 {
    margin-right: 0.2%;
  }

  .trend-2of2 {
    margin-left: 0.2%;
  }

  .trend-box {
    padding: 3rem;
  }

  .trend-title-text a {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  /* 35 + (392) + 35 + (70 + 20 + 181) + 35 = 768 */
  .content {
    padding: 5rem 3.5rem;
  }

  .posts {
    width: 56%;
    margin-bottom: 5rem;
  }

  .post-not-first {
    margin-top: 4rem;
  }

  .post::after {
    content: "";
    margin-top: 2.2rem;
    display: block;
    height: 0.3rem;
    background-color: #eeeeee;
  }
}

  .post-title a {
    font-size: 1.7rem;
    line-height: 2.2rem;
  }

  .post-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .sidebar {
    width: 39%;
    margin-bottom: 5rem;
  }

  .product {
    width: 48.5%;
  }

  .product::after {
    /* .product-preview = (768 - 70) / 2 - 15 - 40 */
    top: 25vw;
  }

  .product-after-two {
    margin-top: 3rem;
  }

  .footer {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 641px)
   and (max-width: 1199px)
   and (orientation: landscape) {
  .trend {
    width: 24.7%;
  }

  .trend-not-1of4 {
    margin-left: 0.2%;
  }

  .trend-not-4of4 {
    margin-right: 0.2%;
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg.jpg");
    padding: 5rem 1.5rem 14rem 1.5rem;
    margin-bottom: 5.5rem;
  }

  .container {
    max-width: 117rem;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-burger {
    display: none;
  }

  .menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .menu-list-item-not-last {
    margin-right: 3.5rem;
  }

  .menu-link {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
  }

  .logo {
    width: 18rem;
  }

  .menu-list {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .intro {
    margin-top: 11rem;
  }

  .intro-text {
    font-size: 4.5rem;
    line-height: 7.5rem;
  }

  .section-title {
    margin-bottom: 2.5rem;
  }

  .section-title-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .sidebar-section-title-text {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }

  .trend {
    width: 24.7%;
  }

  .trend-not-1of4 {
    margin-left: 0.2%;
  }

  .trend-not-4of4 {
    margin-right: 0.2%;
  }

  .trend-box {
    padding: 3.5rem 3rem;
  }

  .trend-title-text a {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  /* 15 + (380 + 30 + 380) + 110 + (270) + 15 = 1170 */
  .content {
    box-sizing: border-box;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 6.5rem 1.5rem;
  }

  .posts {
    width: 69%;
    margin-bottom: 6rem;
  }

  .post-not-first {
    margin-top: 6rem;
  }

  .post {
    display: flex;
  }

  .post-preview,
  .post-info {
    width: 48%;
  }

  .post-preview {
    margin-bottom: 0;
  }

  .post-info {
    margin-left: 4%;
  }

  .post-title a {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .post-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }

  .sidebar {
    width: 24%;
    margin-bottom: 6rem;
  }

  .product {
    width: 30%;
  }

  .product::after {
    top: 17rem;
  }

  .product-after-two {
    margin-top: 0;
  }

  .product-after-three {
    margin-top: 3rem;
  }

  .product-title a {
    font-size: 2.0rem;
  }

  .social {
    margin-bottom: 7rem;
  }
}